<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="mainPage">

        <h1>Welcome to the Graphing App</h1>


        <div id="createArea">
            <h3>CREATE</h3>

            <div class="buttonPicker">
                <button>Pie Chart</button>

                <button>Bar Graph</button>
            </div>

        </div>

        
        <img src="imgs/TitleGraph.jpg" alt="Graphs">

    </div>
</body>
</html>