<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graphing App</title>
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div class="mainPage">
      <h1>Welcome to the Graphing App</h1>

      <div id="createArea">
        <h3>CREATE</h3>

        <div class="buttonPicker">
          <button id="pieChartButton">Pie Chart</button>

          <button id="barChartButton">Bar Graph</button>
        </div>
      </div>

      <img src="imgs/TitleGraph.jpg" alt="Graphs" />
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
